html {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-list-container {
  overflow: hidden;
}

.news-list {
  height: 250px;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 2px;
  width: 30%;
  display: inline-block;
  background-color: bisque;
  border: 1px solid black;
}

li {
  list-style-type: none;
}

a {
  font-size: 12px;
}
