html {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-list-container {
  overflow: hidden;
}

.news-list {
  height: 250;
  margin-right: 10px;
  width: 200px;
  float: left;
  display: inline-block;
  background-color: bisque;
}
